<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<h1>Here is the list of books</h1>
	<table class="table table-striped">
		<thead>
			<tr style="font-weight: bold">
				<td>Author</td>
				<td>Title</td>
				<td>ISBN</td>
				<td>Year</td>
				<td>Category</td>
			</tr>
		</thead>

		<tr th:each="book:${books}">
			<td th:text="${book.author}" />
			<td th:text="${book.title}" />
			<td th:text="${book.isbn}" />
			<td th:text="${book.year}" />
			<td th:text="${book.category.name}" />
			<td sec:authorize="hasRole('ADMIN')"><a
				th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
			<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
		</tr>
	</table>
	<a th:href="@{/add}" class="btn btn-success">Add a new book</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"></input>
	</form>
</body>
</html>